extends layout

block content
    script(type='text/javascript', src='/javascripts/prevent_back.js')
    .login-panel1(style="float:none;")
        h3 You are going to make a reservation for flight from #{trip.dept_code}(#{trip.dept_city}) to #{trip.dest_code}(#{trip.dest_city}) on #{moment(trip.date).format('YYYY-MM-DD')}
        p Departure time: #{trip.dept_time} &nbsp;&nbsp; Arrival time: #{trip.arr_time}
    br
    .login-panel1(style="margin-right:310px;")
        +function(guests,trip,type,guests_booked)
        +function2(guests_details)

mixin function(guests,trip,type,guests_booked)
        
        if guests_booked[0] != 0
            h3(style="margin-left:20px") Booking for adult guest #{guests[0]-guests_booked[0]+1}
            br
            form(method="post" action="/addGuest" style="margin-left: 150px")
                table
                    tr
                        td Full name 
                        td 
                            input(type="text" name="name" required)
                    tr
                        td Age 
                        td 
                            input(type="number" class="guest_num" name="age" min="18" required)
                    tr
                        td Gender 
                            td 
                                select(name="gender" id="gender" required)
                                    option(value="male") male
                                    option(value="female") female
                    tr
                        td Requirements 
                        td 
                            input(type="text" name="requirements")
                    tr 
                        td
                        td
                            input(type="submit" value="Add")
        else if guests_booked[1] != 0
            h3(style="margin-left:20px") Booking for child guest  #{guests[1]-guests_booked[1]+1}
            br
            form(method="post" action="/addGuest" style="margin-left: 150px")
                table
                    tr
                        td Full name 
                        td 
                            input(type="text" name="name" required)
                    tr
                        td Age 
                        td 
                            input(type="number" class="guest_num" name="age" min="4" max="17" required)

                    tr
                        td Gender 
                            td 
                                select(name="gender" id="gender" required)
                                    option(value="male") male
                                    option(value="female") female
                    tr
                        td Requirements 
                        td 
                            input(type="text" name="requirements")
                    tr 
                        td
                        td
                            input(type="submit" value="Add")
        else if guests_booked[2] != 0
            h3(style="margin-left:20px") Booking for infant guest  #{guests[2]-guests_booked[2]+1}
            br
            form(method="post" action="/addGuest" style="margin-left: 150px")
                table
                    tr
                        td Full name 
                        td 
                            input(type="text" name="name" required)
                    tr
                        td Age 
                        td 
                            input(type="number" class="guest_num" name="age" min="1" max="3" required)

                    tr
                        td Gender 
                        td 
                            select(name="gender" id="gender" required)
                                option(value="male") male
                                option(value="female") female
                    tr 
                        td Guardian's name
                        td 
                            +function3(guests_details)
                    tr
                        td Requirements 
                        td 
                            input(type="text" name="requirements")
                    tr 
                        td
                        td
                            input(type="submit" value="Add")
        else
            a(href="/bookTrip" rel="noopener" class="btn btn-sm btn-danger") Proceed
             

mixin function3(guests_details)
    -var c = 0;
    if guests_details != null
        each i in guests_details
                if i.guest[0] == "i"
                    -c +=1
        select(name="guardian")
            each i in guests_details
                if i.guest[0] == "i"
                    each guardian in guests_details
                        if guardian.guest[0] == "a"
                            if guardian.name != i.guardian
                                option(value="#{guardian.name}") #{guardian.name}
                                break
                else if c == 0
                    if i.guest[0] == "a"
                        option(value="#{i.name}") #{i.name}


mixin function2(guests_details)
    if(guests_details != null)
        table( class = "table table-striped")
                thead 
                    tr
                        th Name of the guest
                        th Age	
                        th Gender
                        th Requirements
                tbody
                    each g in guests_details
                        tr
                            if(g.guardian)
                                td #{g.name} (#{g.guardian} as the guardian)
                            else
                                td= g.name
                            td= g.age
                            td= g.gender
                            td= g.requirements
    else
        p Added guests will appear here
                            