extends layout

block content
    .login-panel(style="float:left;width:80%")
        +function(economy,business,platinum,plane_type_name,trip,seat_list,user)
    .greeting(style = "float:right;width:19%")
        +function2(trip,price,moment,total,guest_details)
mixin function(economy,business,platinum,plane_type_name,trip,seat_list,user)
    h3 seat reservation
    if platinum != null
            div(id="#{s.seat_id}" class="modal" style="height:10%")
                p You should login to your account first.
            h3 Platinum Seats
            table( class = "table table2" )
                tbody
                        tr
                            each seat_id in platinum
                                if seat_id.seat_id[7] == "A"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)

                            each seat_id in platinum
                                if seat_id.seat_id[7] == "A"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

                        tr
                           each seat_id in platinum
                                if seat_id.seat_id[7] == "B"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)

                                if seat_id.seat_id[7] == "B"
                                    if seat_id.seat_id[9] != undefined
                                     +functions2(seat_id,plane_type_name,trip,seat_list,user)

                        tr(colspan= platinum.length/4)
                            td(colspan= platinum.length/4) 
                                b passage
                        tr
                            each seat_id in platinum
                                if seat_id.seat_id[7] == "C"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)

                            each seat_id in platinum
                                if seat_id.seat_id[7] == "C"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

                        tr
                            each seat_id in platinum
                                if seat_id.seat_id[7] == "D"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)

                            each seat_id in platinum
                                if seat_id.seat_id[7] == "D"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

    if business != null
            h3 Business Seats
            table( class = "table table2")
                tbody
                        tr
                            each seat_id in business
                                if seat_id.seat_id[7] == "A"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in business
                                if seat_id.seat_id[7] == "A"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)     

                        tr
                            each seat_id in business
                                if seat_id.seat_id[7] == "B"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in business
                                if seat_id.seat_id[7] == "B"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)


                        tr(colspan= business.length/4)
                            td(colspan= business.length/4) 
                                b passage
                        tr
                            each seat_id in business
                                if seat_id.seat_id[7] == "C"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in business
                                if seat_id.seat_id[7] == "C"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)


                        tr
                            each seat_id in business
                                if seat_id.seat_id[7] == "D"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in business
                                if seat_id.seat_id[7] == "D"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

    if economy != null
            h3 Economy Seats
            table( class = "table table2")
                        tr
                            each seat_id in economy
                                if seat_id.seat_id[7] == "A"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in economy
                                if seat_id.seat_id[7] == "A"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

                        tr
                            each seat_id in economy
                                if seat_id.seat_id[7] == "B"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in economy
                                if seat_id.seat_id[7] == "B"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

                        tr(colspan= economy.length/4)
                            td(colspan= economy.length/4) 
                                b passage
                        tr
                            each seat_id in economy
                                if seat_id.seat_id[7] == "C"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in economy
                                if seat_id.seat_id[7] == "C"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)

                        tr
                            each seat_id in economy
                                if seat_id.seat_id[7] == "D"
                                    +functions1(seat_id,plane_type_name,trip,seat_list,user)
                            each seat_id in economy
                                if seat_id.seat_id[7] == "D"
                                    +functions2(seat_id,plane_type_name,trip,seat_list,user)
    else 
        p  No Airplane types found

mixin function2(trip,price,moment,total,guest_details)
    -var j = guest_details.length
    -var k = 0
    p Date #{moment(trip.date).format('YYYY-MM-DD')}
    p from #{trip.dept_code}(#{trip.dept_city}) 
    p to #{trip.dest_code}(#{trip.dest_city}) 
    p depatuer time: #{trip.dept_time} 
    p arrival time: #{trip.arr_time}
    each i in guest_details
        if(i.price)
            p #{i.name} - $ #{i.price}
        else
            p #{i.name} - Not yet booked
        if i.price != null 
            -k += 1

    p total: $ #{total}
    if k == j
        div(id="details" class="modal" style="height:100%;width:300%")
            p Summary of your reservation
            table(class="table")
                    tr
                        th name
                        th seat id
                        th price
                    each i in guest_details
                        tr
                            if(i.price)
                                td #{i.name} 
                                td #{i.seat_id}
                                td $ #{i.price}
                            else
                                td #{i.name} 
                                td #{i.seat_id}
                                td booking is not completed
                    tr 
                        td
                        td 
                            b total
                        td  
                            b $ #{total}
            p
                b press OK to make the payment
            form(action="/reservation" method="post")
                    input(type="submit" class="btn btn-info" value="OK")
            
        a(href="#details" rel="modal:open" class="btn btn-info") Proceed to checkout


mixin functiong(guest_details)
    -var array1=[]
    -var array2=[]
    -var array3=[]
    -var array4=[]
    -var j = guest_details.length
    -var k = 0
    if guest_details != null
        each a in guest_details
            if a.guest[0] == "a"
              -array1.push(a)
        
        each i in guest_details 
            if i.guest[0] == "i"
                -array2.push(i)
            
        each a in array1
            each g in array2
                if g.guardian == a.name
                    -array3.push(a)

        each m in array1
            -var c = 0
            each n in array3
                if m.guest == n.guest
                    -c += 1
            if c == 0
                -array4.push(m)

        
        select(name="guest")
            each k in array4
                if k.price == null
                     option(value="#{k.guest}") #{k.name}

            each i in guest_details
                if i.price == null 
                    if i.guest[0] == "i"
                            option(value="#{i.guest}") #{i.guardian} ( with #{i.name} ) 
                    else if i.guest[0] == "c"
                        option(value="#{i.guest}") #{i.name}
                else
                    -k += 1
            
            if k == j
                option(disabled selected value) -- No options available -- 




mixin functions1(seat_id,plane_type_name,trip,seat_list,user)
    if seat_id.seat_id[9] == undefined
                                        if (seat_list[0])
                                            -var c = 0
                                            each s in seat_list
                                                if s == seat_id.seat_id
                                                    -c += 1
                                        if c==1
                                            td(style="background-color:green")= seat_id.seat_id[7]+seat_id.seat_id[8]
                                        else if seat_id.ticket_issued == 1 
                                            td(style="background-color:red")= seat_id.seat_id[7]+seat_id.seat_id[8]
                                        else
                                            td
                                                div(id="#{seat_id.seat_id}" class="modal" style="height:50%;width:300%")
                                                    include includes/allocateSeat.jade
                                                a(href="##{seat_id.seat_id}" rel="modal:open")= seat_id.seat_id[7]+seat_id.seat_id[8]
            

mixin functions2(seat_id,plane_type_name,trip,seat_list,user)         
    if seat_id.seat_id[9] != undefined
                                        if (seat_list[0])
                                            -var c = 0
                                            each s in seat_list
                                                if s == seat_id.seat_id
                                                    -c += 1
                                        if c==1
                                            td(style="background-color:green")= seat_id.seat_id[7]+seat_id.seat_id[8]+seat_id.seat_id[9]
                                        else if seat_id.ticket_issued == 1 
                                            td(style="background-color:red")= seat_id.seat_id[7]+seat_id.seat_id[8]+seat_id.seat_id[9]
                                        else
                                            td
                                                div(id="#{seat_id.seat_id}" class="modal" style="height:50%;width:300%")
                                                    include includes/allocateSeat.jade
                                                a(href="##{seat_id.seat_id}" rel="modal:open")= seat_id.seat_id[7]+seat_id.seat_id[8]+seat_id.seat_id[9]