extends layout

mixin message(opp, user)
    if(opp)
        .greeting(style = "margin-right:15px;")
            h1
                span=user.full_name 
            p email address: #{user.email}
            p date of birth: #{moment(user.date_of_birth).format('YYYY-MM-DD')}
            p citizenship: #{user.citizenship}
            p total number of reservations:
            p passenger category:
    else 
        h1.greeting Welcome 
            span=user.full_name  
            |  to our website


append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 

block content
    script(type='text/javascript', src='/javascripts/location.js')
    .dashboard_user
            +message(opp, user)
    .login-panel(style="float:none; padding-bottom:20px; margin:15px 20px 20px 0px;")
        .searchbar(style="padding:70px;")
            h4 search your flight
            form(method="post" action="/search")
              table 
                  tr
                      td date 
                      td 
                          input(type="date" name="date")
                  tr 
                      td From  
                      td 
                          +functiondept(locations)
                      td &nbsp; To
                      td
                          +functiondest(locations)
                    tr
                      td seats
                      td
                        input(type="text" name="seats")
                  tr 
                      td
                      td
                      td
                      td
                          input(type="submit" value="Search")
    +function_res(search,msg,seat_type)


mixin functiondept(locations)
      select(name="dept_airport_code" id="dept_airport_code")
            option(disabled selected value) -- select an option -- 
            each location in locations
                option(value="#{location.airport_id}") #{location.city} - #{location.country} (#{location.code})

mixin functiondest(locations)
      select(name="dest_airport_code" id="dest_airport_code")
            option(disabled selected value) -- select an option -- 
            each location in locations
                option(value="#{location.airport_id}") #{location.city} - #{location.country} (#{location.code})


mixin function_res(search,msg,seat_type)
        if(search != null)
            div(id="ex1" class="modal" style="height:10%")
              p You should login to your account first.
            br
            h4 search results for flights from #{search[0].dept_code} (#{search[0].dept_city}) to #{search[0].dest_code} (#{search[0].dest_city}) on #{moment(search[0].date).format('YYYY-MM-DD')}
            br
            table( class = "table table-striped")
                thead 
                    tr
                        th plane
                        th depatuer time
                        th arrival time
                        th economy seat (in $)
                        th business seat (in $)
                        th platinum seat (in $)
                        th action
                tbody                    
                    each s in search
                        tr
                            td= s.company_plane_code
                            td= s.dept_time
                            td= s.arr_time
                            if (s.economy_price)
                                td(style="text-align:right") $ #{s.economy_price}.00 (#{s.available_economy_seats} available seats)
                            if (s.business_price)
                                td(style="text-align:right") $ #{s.business_price}.00 (#{s.available_business_seats} available seats)
                            if (s.platinum_price)
                                td(style="text-align:right") $ #{s.platinum_price}.00 (#{s.available_platinum_seats} available seats)
                            else
                                td Not applicable
                            td
                                a(href="#ex1" rel="modal:open" class="btn btn-sm btn-success") Book
                            
          else if (msg != null)
            h5 #{msg}
          else
            h5 search results will appear here..