extends layout

mixin message(opp, user)
    if(opp)
        .greeting 
            h1
                span=user.full_name 
            p email address: #{user.email}
            p date of birth: #{moment(user.date_of_birth).format('YYYY-MM-DD')}
            p citizenship: #{user.citizenship}
            p total number of reservations:
            p passenger category:
    else 
        h1.greeting Welcome 
            span=user.full_name  
            |  to our website


append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 

block content
    .dashboard_user
            +message(opp, user)