extends layout

mixin message(opp, user)
    if(opp)
        .greeting(style = "margin-right:5px;")
            h4
                span=user.full_name 
            p Email address: #{user.email}
            p Date of birth: #{moment(user.date_of_birth).format('YYYY-MM-DD')}
            p Citizenship: #{user.citizenship}
            p Number of reservations: #{user.no_of_reservations}
            p Passenger category: #{user.category_name}
    else 
        h1.greeting(style="margin-bottom:100px;") Welcome 
            span=user.full_name  
            |  to our website


append links 
    li(style="float: right;")
        a(href="/loggout") Logout 
    li(style="float: right;")
        a(href="/delays") Reservations


block content
    script(type='text/javascript', src='/javascripts/location.js')
    script(type='text/javascript', src='/javascripts/guest_input.js')
    script(type='text/javascript', src='/javascripts/date.js')

    .dashboard_user
            +message(opp, user)
    .login-panel(style="height: 386px;")
        .searchbar
            form(method="post" action="/search")
              table 
                  tr
                      th Date 
                      td 
                          input(type="date" name="date" id="txtDate")
                  br
                  tr 
                      th From  
                      td 
                          +functiondept(locations)
                      td &nbsp; 
                        b To
                          +functiondest(locations)
                  br
                  tr
                      th(rowspan="2") Guests: 
                      td Adults
                      td Children (3-18 yrs)
                      td Infants (<3 yrs)
                  tr 
                      td 
                        div(class="input-group input-number-group")
                            div(class="input-group-button")
                                span(class="input-number-decrement dec-adults") -
                            input(class="input-number-adults" type="number"  name="adults" value="1" )
                            div(class="input-group-button")
                                span(class="input-number-increment inc-adults") +
                      td
                        div(class="input-group input-number-group")
                            div(class="input-group-button")
                                span(class="input-number-decrement dec-child") -
                            input(class="input-number-children" type="number" name="children" value="0")
                            div(class="input-group-button")
                                span(class="input-number-increment inc-child") +
                      td
                        div(class="input-group input-number-group")
                            div(class="input-group-button")
                                span(class="input-number-decrement dec-infants") -
                            input(class="input-number-infants" type="number" name="infants" value="0")
                            div(class="input-group-button")
                                span(class="input-number-increment inc-infants") +
                  tr
                        th Total guests
                        td 
                            input(type="text" name="seats" class="total")
                  tr 
                      td
                      td
                      td
                      td
                          input(type="submit" value="Search")
    .function(style="margin-top: 386px")
        +function_res(search,msg,seat_type)


mixin functiondept(locations)
      select(name="dept_airport_code" id="dept_airport_code")
            option(disabled selected value) -- select an option -- 
            each location in locations
                option(value="#{location.airport_id}") #{location.city} - #{location.country} (#{location.code})

mixin functiondest(locations)
      select(name="dest_airport_code" id="dest_airport_code")
            option(disabled selected value) -- select an option -- 
            each location in locations
                option(value="#{location.airport_id}") #{location.city} - #{location.country} (#{location.code})

mixin function_res(search,msg,seat_type)
          if(search != null)
            br
            h4 Search results for flights from #{search[0].dept_code} (#{search[0].dept_city}) to #{search[0].dest_code} (#{search[0].dest_city}) on #{moment(search[0].date).format('YYYY-MM-DD')}
            table( class = "table table-striped")
                thead 
                    tr
                        th Plane
                        th Departure time
                        th Arrival time
                        th Economy seat (in $)
                        th Business seat (in $)
                        th Platinum seat (in $)
                        th Action
                tbody                    
                    each s in search
                        tr
                            td= s.company_plane_code
                            td= s.dept_time
                            td= s.arr_time
                            if (s.economy_price)
                                td(style="text-align:right") $ #{s.economy_price}.00 (#{s.available_economy_seats} available seats)
                            if (s.business_price)
                                td(style="text-align:right") $ #{s.business_price}.00 (#{s.available_business_seats} available seats)
                            if (s.platinum_price)
                                td(style="text-align:right") $ #{s.platinum_price}.00 (#{s.available_platinum_seats} available seats)
                            else
                                td Not applicable
                            td
                                a(href="/bookTrip/#{s.trip_id}" class="btn btn-sm btn-success") Book
                            
          else if (msg != null)
            h5 #{msg}
          else
            br
            h5 Search results will appear here..