extends admin

block content
    .login-panel(style="float:none; padding-left:200px")
        h3 All passengers travelling in trips sheduled today below age 18, above age 18 
        br
        +function(tripDetails)
    +functions(ab18,be18)
    +functione(msg)

mixin functions(ab18,be18)
        br
        if ab18 != null
            if ab18[0] != null
                .login-panel(style="float:none; padding-left:60px")
                    h4 Passangers above age 18
                    table( class = "table table-striped")
                        thead 
                            tr
                                th seat_id
                                th full_name
                                th age
                                th gender
                                th requirements
                        tbody                    
                            each s in ab18
                                tr
                                    td= s.seat_id
                                    td= s.full_name 
                                    td= s.age
                                    td= s.gender 
                                    td= s.requirements
        
        br
        if be18 != null
            if be18[0] != null
                .login-panel(style="float:none; padding-left:60px")
                    h4 Passangers below age 18
                    table( class = "table table-striped")
                        thead 
                            tr
                                th seat_id
                                th full_name
                                th age
                                th gender
                                th requirements
                        tbody                    
                            each s in be18
                                tr
                                    td= s.seat_id
                                    td= s.full_name 
                                    td= s.age
                                    td= s.gender 
                                    td= s.requirements
                                        
                

mixin function(tripDetails)
    if tripDetails!= null
        form(method="post" action="/admin/generateReport3")
            table 
                tr 
                    td Trip
                    td 
                        select(name="shedule_id")
                            each trip in tripDetails
                                option(value="#{trip.shedule_id}") #{trip.x} -> #{trip.y} - #{trip.dept_time} -> #{trip.arr_time}
                tr 
                    td
                    td
                        input(type="submit" value="view")
    else
        p no trips for today! 

mixin functione(msg)
    if(msg)
        p #{msg}




