extends layout

block content
    if relevantDelays
            +function_res(relevantDelays,moment)
        

        mixin function_res(todayDelays)
            table( class = "table table-striped")
                thead 
                    tr
                        th Date
                        th Dept Airport
                        th Arr Airport
                        th Dept Time
                        th Arr Time
                        th New Arr Time
                        th reason
                tbody                    
                    each s in relevantDelays
                        tr
                            td= moment(s.date).format('YYYY-MM-DD')
                            td= s.x
                            td= s.y
                            td= s.dept_time
                            td= s.arr_time
                            td= s.delay_time
                            td= s.reason
                                   